bin/*
pkg/*
tags
coverage*
y.output

# data
test/*
.DS_Store

# packages
src/gopkg.in/*
src/golang.org/*
src/github.com/*

#vendor
vendor/*

# IntelliJ project files
.idea/*

# visual studio code files
.vscode
